@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "62DRAGZ";
    src: url('./../assets/fonts/raceFont.otf');
} 
.under-main-text {
  font-family: '62DRAGZ';
  font-size: 1.5rem;
  color: #000;
  margin-top: 1rem;
}

